{% extends "base_site.html" %}

{% block title %} Aranet CO2 Data {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='node_modules/datatables.net-bs/css/dataTables.bootstrap.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='node_modules/datatables.net-buttons-bs/css/buttons.bootstrap.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='node_modules/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='node_modules/datatables.net-responsive-bs/css/responsive.bootstrap.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='node_modules/datatables.net-scroller-bs/css/scroller.bootstrap.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">

            <div class="x_content">

                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Uploaded Aranet CO2 Sensor Data <small>(showing max {{num_records}} records)</small></h3>
                    </div>

                    <div class="col-md-6">
                        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span></span>
                            <b class="caret"></b>
                        </div>
                    </div>
                </div>

              <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>Timestamp</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>CO2</th>
                    <th>Upload Time</th>
                  </tr>
                </thead>
                <tbody>

                {%
                    for t_reading in readings:
                %}
                <tr>
                    <td>{{ t_reading.timestamp }}</td>
                    <td>{{ t_reading.sensor_id }}</td>
                    <td>{{ t_reading.name }}</td>
                    <td>{{ t_reading.co2 }}</td>
                    <td>{{ t_reading.time_created }}</td>
                </tr>
                {%
                    endfor
                %}

                </tbody>
              </table>
	      <form method="post">
		<input type="submit" value="Download" name="download"/>
	      </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <!-- Datatables -->
  <script src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-bs/js/dataTables.bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/dataTables.buttons.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-buttons-bs/js/buttons.bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.flash.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.html5.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.print.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-fixedheader/js/dataTables.fixedHeader.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-keytable/js/dataTables.keyTable.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-responsive/js/dataTables.responsive.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-scroller/js/dataTables.scroller.js') }}"></script>

  <script>

    $(document).ready(function() {
        $('#datatable-responsive').DataTable( {
            "order": [[ 0, "desc" ]]
        } );
    } );

    $(window).load(function() {

        $('#reportrange span').html("{{ dt_from }}" + ' - ' + "{{ dt_to }}");

    });

    $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
        var request_url = "/readings/aranet_co2?range=" + picker.startDate.format('YYYYMMDD') + "-" + picker.endDate.format('YYYYMMDD')

        location.replace(request_url)
    });

</script>
{% endblock javascripts %}
