<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
    <title>Test Chart</title>
</head>

<body>
    <h1>Chart.js Sample</h1>

    <div class="container">
        <canvas id="myChart"></canvas>
    </div>
    <script>
        let myChart = document.getElementById("myChart").getContext("2d");
        let popchart = new Chart(myChart,
            {
                type: 'bar',
                data:
                {
                    labels: ['wer', 'wer', 'wer', 'wer', 'wer'],
                    datasets: [{
                        label: 'population',
                        data: [100000, 200000, 3000000, 100000, 500000]
                    }]
                },
                options: {}
            });
        console.warn("dlkfjl")
    </script>




</body>

</html>