{% extends "base_site.html" %}

{% block title %} INDEX {% endblock title %}

{% block stylesheets %}
{{ super() }}
<link href="{{ url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"
      rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}"
      rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}"
      rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}"
      rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"
      rel="stylesheet">
{% endblock stylesheets %}




{% block content %}
<div class="right_col" role="main">

  <!--3D Unity container-->
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">


        <!-- <div class="x_content">
          <canvas id="c" style="width: 100%; height: 100%;">
          Text to alert visitors that the Canvas
          is not supported by your browser.
          </canvas>

          </div> -->

          <div class="webgl-content">
            <div id="unityContainer" style= "height: 48vh"></div>
            <div class="footer">
              <div class="webgl-logo"></div>
              <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
            </div>
          </div>

      </div>
    </div>

  </div>
  <!--/3D Unity container-->

  <br />


  <div class="row">

    <!--round charts-->
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Performance  <small> </small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="dashboard-widget-content">
            <div class="block">
              <div class="block_content">

                <table style="table-layout: fixed;width:100%; overflow:visible">
                  <tr>
                    <th bgcolor="#e7e7e7">Main farm</th>
                    <th bgcolor="#f3f3f3">Main farm</th>
                    <th bgcolor="#e7e7e7">Main farm</th>
                    <th bgcolor="#f3f3f3"><span id="zone3_name"></span></th>
                    <th bgcolor="#e7e7e7"><span id="zone4_name"></span></th>
                  </tr>
                </table>


                <table style="table-layout: fixed;width:100%; overflow:visible">
                  <tr>
                    <th bgcolor="#e7e7e7"><span id="zone1_name" ></span></th>
                    <th bgcolor="#f3f3f3"><span id="zone2_name"></span></th>
                    <th bgcolor="#e7e7e7"><span id="zone0_name" ></span></th>
                    <th bgcolor="#f3f3f3"></th>
                    <th bgcolor="#e7e7e7"></th>
                  </tr>
                </table>

                <table style="table-layout: fixed;width:100%; overflow:visible">
                  <tr>
                    <th bgcolor="#e7e7e7"><span id="tempFF" style="font-size: 30px"></span>&#8451;</th>
                    <th bgcolor="#f3f3f3"><span id="tempFM" style="font-size: 30px"></span>&#8451;</th>
                    <th bgcolor="#e7e7e7"><span id="tempFB" style="font-size: 30px"></span>&#8451;</th>
                    <th bgcolor="#f3f3f3"><span id="tempPR" style="font-size: 30px"></span>&#8451;</th>
                    <th bgcolor="#e7e7e7"><span id="tempRD" style="font-size: 30px"></span>&#8451;</th>
                  </tr>
                </table>


                <table style="table-layout: fixed;width:100%; overflow:visible">
                  <tr >
                    <th width=25% bgcolor="#e7e7e7">
                      <canvas id="roundchart1" ></canvas>
                      <p style="font-weight:normal">weekly</p>
                    </th>
                    <th width=15% valign="top" bgcolor="#e7e7e7">
                      <canvas id="roundchart11" ></canvas>
                      <p style="font-weight:normal">daily</p>
                    </th>
                    <th width=25% bgcolor="#f3f3f3">
                      <span id="zone2_name"></span>
                      <canvas id="roundchart2" ></canvas>
                      <p style="font-weight:normal">weekly</p>
                    </th>
                    <th width=15% valign="top" bgcolor="#f3f3f3">
                      <canvas id="roundchart12"></canvas>
                      <p style="font-weight:normal">daily</p>
                    </th>
                    <th width=25% bgcolor="#e7e7e7"> 
                      <span id="zone0_name"></span>
                      <canvas id="roundchart0" ></canvas>
                      <p style="font-weight:normal">weekly</p> 
                    </th>
                    <th width=15% valign="top" bgcolor="#e7e7e7">
                      <canvas id="roundchart10" ></canvas>
                      <p style="font-weight:normal">daily</p>
                    </th>
                    <th width=25% bgcolor="#f3f3f3">
                      <canvas id="roundchart3" ></canvas>
                      <p style="font-weight:normal">weekly</p>
                    </th>
                    <th width=15% valign="top" bgcolor="#f3f3f3">
                      <canvas id="roundchart13" ></canvas>
                      <p style="font-weight:normal">daily</p>
                    </th>
                    <th width=25% bgcolor="#e7e7e7">
                      <canvas id="roundchart4" ></canvas>
                      <p style="font-weight:normal">weekly</p>
                    </th>
                    <th width=15% valign="top" bgcolor="#e7e7e7">
                      <canvas id="roundchart14" ></canvas>
                      <p style="font-weight:normal">daily</p>
                    </th>
                  </tr>
                </table>

                <table style="table-layout: fixed;width:100%; overflow:visible">
                  <tr>
                    <th bgcolor="#e7e7e7"> <span id="humFF" style="font-size: 30px"></span>%rh</th>
                    <th bgcolor="#f3f3f3"> <span id="humFM" style="font-size: 30px"></span>%rh</th>
                    <th bgcolor="#e7e7e7"> <span id="humFB" style="font-size: 30px"></span>%rh</th>
                    <th bgcolor="#f3f3f3"> <span id="humPR" style="font-size: 30px"></span>%rh</th>
                    <th bgcolor="#e7e7e7"> <span id="humRD" style="font-size: 30px"></span>%rh</th>
                  </tr>
                </table>

                <table style="table-layout: fixed;width:100%; overflow:visible">
                  <tr >
                    <th width=25% bgcolor="#e7e7e7">
                      <canvas id="roundchart6" ></canvas>
                      <p style="font-weight:normal">weekly</p>
                    </th>
                    <th width=15% valign="top" bgcolor="#e7e7e7">
                      <canvas id="roundchart16" ></canvas>
                      <p style="font-weight:normal">daily</p>
                    </th>
                    <th width=25% bgcolor="#f3f3f3">
                      <canvas id="roundchart7" ></canvas>
                      <p style="font-weight:normal">weekly</p>
                    </th>
                    <th width=15% valign="top" bgcolor="#f3f3f3">
                      <canvas id="roundchart17"></canvas>
                      <p style="font-weight:normal">daily</p>
                    </th>
                    <th width=25% bgcolor="#e7e7e7"> 
                      <canvas id="roundchart5" ></canvas>
                      <p style="font-weight:normal">weekly</p>
                    </th>
                    <th width=15% valign="top" bgcolor="#e7e7e7">
                      <canvas id="roundchart15" ></canvas>
                      <p style="font-weight:normal">daily</p>
                    </th>
                    <th width=25% bgcolor="#f3f3f3">
                      <canvas id="roundchart8" ></canvas>
                      <p style="font-weight:normal">weekly</p>
                    </th>
                    <th width=15% valign="top" bgcolor="#f3f3f3">
                      <canvas id="roundchart18" ></canvas>
                      <p style="font-weight:normal">daily</p>
                    </th>
                    <th width=25% bgcolor="#e7e7e7">
                      <canvas id="roundchart9" ></canvas>
                      <p style="font-weight:normal">weekly</p>
                    </th>
                    <th width=15% valign="top" bgcolor="#e7e7e7">
                      <canvas id="roundchart19" ></canvas>
                      <p style="font-weight:normal">daily</p>
                    </th>
                  </tr>

                </table>
                <table>
                  <tr >

                    <div>
                      Temperature: 
                      <span style= "color: rgb(39, 39, 97); font-size: 20px" >&#9632; </span> freeze 
                      <span style= "color: rgb(6, 163, 85); font-size: 20px" >&#9632; </span> cold
                      <span style= "color: rgb(124, 236, 79); font-size: 20px" >&#9632; </span> warm
                      <span style= "color: rgb(207, 0, 52); font-size: 20px" >&#9632; </span> hot
                    </div>
                    <div>
                      Humidity: 
                      <span style= "color: rgb(39, 39, 97); font-size: 20px" >&#9632; </span> dry 
                      <span style= "color: rgb(16, 72, 155); font-size: 20px" >&#9632; </span> comfort
                      <span style= "color: rgb(81, 163, 230); font-size: 20px" >&#9632; </span> humid
                      <span style= "color: rgb(134, 217, 255); font-size: 20px" >&#9632; </span> moist
                    </div>

                  </tr>
                </table>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>


  </div>
  <br />

  <br />
  <div class  ="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel tile fixed_height_640 overflow_hidden">
        <div class="x_title">
          <h2>Vertical stratification</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">
          <canvas id="vertical_temp_stratification"></canvas>
        </div>
        <div class="x_content">
          <canvas id="vertical_humidity_stratification"></canvas>
        </div>

      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel tile fixed_height_640 overflow_hidden">
        <div class="x_title">
          <h2>Horizontal stratification</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">
          <canvas id="horizontal_temp_stratification"></canvas>
        </div>
        <div class="x_content">
          <canvas id="horizontal_humidity_stratification"></canvas>
        </div>

      </div>
    </div>

    <!--warnings feed-->
    <div class="col-md-6 col-sm-6 col-xs-14">
      <div class="x_panel">
        <div class="x_title">
          <h2>Alerts <small></small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="dashboard-widget-content">
            <ul class="list-unstyled timeline widget">
              <li>
                <div class="block">
                  <div class="block_content">
                    <h2 class="title">
                      <a>Sensor in R&D not producing any data</a>
                    </h2>
                    <div class="byline">
                      <span>1 hours ago</span> by <a>Zenzie</a>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="block">
                  <div class="block_content">
                    <h2 class="title">
                      <a>High Humidity Back of Farm</a>
                    </h2>
                    <div class="byline">
                      <span>8 hours ago</span> by <a>Zenzie</a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="block">
                  <div class="block_content">
                    <h2 class="title">
                      <a>High Temperature in Mid Farm</a>
                    </h2>
                    <div class="byline">
                      <span>13 hours ago</span> by <a>Zenzie</a>
                    </div>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>




  <br />

  <br />



</div>

{% endblock content %}

{% block javascripts %}
{{ super()}}
<!-- Chart.js -->
<script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
<!-- gauge.js -->
<script src="{{ url_for('static', filename='vendors/gauge.js/dist/gauge.min.js') }}"></script>
<!-- Skycons -->
<script src="{{ url_for('static', filename='vendors/skycons/skycons.js') }}"></script>
<!-- Flot -->
<script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.pie.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.time.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.stack.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.resize.js') }}"></script>
<!-- Flot plugins -->
<script src="{{ url_for('static', filename='vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/flot.curvedlines/curvedLines.js') }}"></script>
<!-- DateJS -->
<script src="{{ url_for('static', filename='vendors/DateJS/build/date.js') }}"></script>
<!-- JQVMap -->
<script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>

<!-- 3D models -->
<script src="{{ url_for('static', filename='structures/CROP_unity_js/TemplateData/UnityProgress.js') }}"></script>
<script src="{{ url_for('static', filename='structures/CROP_unity_js/Build/UnityLoader.js') }}"></script>
<script>
  var unityInstance = UnityLoader.instantiate("unityContainer", "{{ url_for('static', filename='structures/CROP_unity_js/Build/CROP_unity_js.json') }}", { onProgress: UnityProgress });
</script>
<!-- Utility functions -->
<script src="{{ url_for('static', filename='javascript/utility.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/home.js') }}"></script>

<script>
  // Imports from backend
  const temperature_json = JSON.parse('{{temperature_data | safe}}');
  const humidity_json = JSON.parse('{{humidity_data | safe}}');
  const temperature_json_daily = JSON.parse('{{temperature_data_daily | safe}}');
  const humidity_json_daily = JSON.parse('{{humidity_data_daily | safe}}');
  const stratification_json = JSON.parse('{{stratification | safe}}');
  const hourly_data_json = JSON.parse('{{hourly_data | safe}}');

  check_data(temperature_json);
  check_data(temperature_json_daily);
  check_data(humidity_json);
  check_data(stratification_json);

  create_charts(
      temperature_json, temperature_json_daily, humidity_json,
      humidity_json_daily, stratification_json,
    );
</script>

{% endblock javascripts %}
