<body>


    <div class="navbar"><span>Real-Time Chart with Plotly.js</span></div>
    <div class="wrapper">

        <div id="chart"></div>
        <script>
            function getData() {
                return Math.random();
            }

            Plotly.plot('chart', [{
                y: [getData()],
                type: 'bar',
                orientation: 'h'
            }]);

            var cnt = 0;

            setInterval(function () {

                Plotly.extendTraces('chart', { y: [[getData()]] }, [0]);
                cnt++;
                if (cnt > 50) {
                    Plotly.relayout('chart', {
                        xaxis: {
                            range: [cnt - 500, cnt]
                        }
                    });
                }
            }, 15);
        </script>
    </div>

</body>

</html>