{% extends "base_site.html" %}

{% block title %} INDEX {% endblock title %}

{% block stylesheets %}
{{ super() }}
<link href="{{ url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"
    rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}"
    rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}"
    rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}"
    rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"
    rel="stylesheet">
{% endblock stylesheets %}




{% block content %}
<div class="right_col" role="main">

    <!--3D Unity container-->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">


                <!-- <div class="x_content">
                <canvas id="c" style="width: 100%; height: 100%;">
                    Text to alert visitors that the Canvas
                    is not supported by your browser.
                </canvas>

            </div> -->

                <div class="webgl-content">
                    <div id="unityContainer" style= " height: 48vh"></div>
                    <div class="footer">
                        <div class="webgl-logo"></div>
                        <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!--/3D Unity container-->

    <br />

    
    <div class="row">

        <!--round charts-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Performance  <small> </small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
                        <div class="block">
                            <div class="block_content">
                                
                                <table style="table-layout: fixed;width:100%; overflow:visible">
                                    <tr>
                                        <th bgcolor="#e7e7e7">Main Farm</th>
                                        <th bgcolor="#f3f3f3">Main Farm</th>
                                        <th bgcolor="#e7e7e7">Main Farm</th>
                                        <th bgcolor="#f3f3f3"><span id="zone3_name"></span></th>
                                        <th bgcolor="#e7e7e7"><span id="zone4_name"></span></th>
                                    </tr>
                                </table>


                                <table style="table-layout: fixed;width:100%; overflow:visible">
                                    <tr>
                                        <th bgcolor="#e7e7e7"><span id="zone1_name" ></span></th>
                                        <th bgcolor="#f3f3f3"><span id="zone2_name"></span></th>
                                        <th bgcolor="#e7e7e7"><span id="zone0_name" ></span></th>
                                        <th bgcolor="#f3f3f3"></th>
                                        <th bgcolor="#e7e7e7"></th>
                                    </tr>
                                </table>

                                <table style="table-layout: fixed;width:100%; overflow:visible">
                                    <tr>
                                        <th bgcolor="#e7e7e7"><span id="tempFF" style="font-size: 30px"></span>&#8451;</th>
                                        <th bgcolor="#f3f3f3"><span id="tempFM" style="font-size: 30px"></span>&#8451;</th>
                                        <th bgcolor="#e7e7e7"><span id="tempFB" style="font-size: 30px"></span>&#8451;</th>
                                        <th bgcolor="#f3f3f3"><span id="tempPR" style="font-size: 30px"></span>&#8451;</th>
                                        <th bgcolor="#e7e7e7"><span id="tempRD" style="font-size: 30px"></span>&#8451;</th>
                                    </tr>
                                </table>


                                <table style="table-layout: fixed;width:100%; overflow:visible">
                                    <tr >
                                        <th width=25% bgcolor="#e7e7e7">
                                                <canvas id="roundchart1" ></canvas>
                                                <p style="font-weight:normal">weekly</p>
                                            </th>
                                        <th width=15% valign="top" bgcolor="#e7e7e7">
                                                <canvas id="roundchart11" ></canvas>
                                                <p style="font-weight:normal">daily</p>
                                            </th>
                                        <th width=25% bgcolor="#f3f3f3">
                                            <span id="zone2_name"></span>
                                            <canvas id="roundchart2" ></canvas>
                                            <p style="font-weight:normal">weekly</p>
                                        </th>
                                        <th width=15% valign="top" bgcolor="#f3f3f3">
                                            <canvas id="roundchart12"></canvas>
                                            <p style="font-weight:normal">daily</p>
                                        </th>
                                        <th width=25% bgcolor="#e7e7e7"> 
                                            <span id="zone0_name"></span>
                                            <canvas id="roundchart0" ></canvas>
                                            <p style="font-weight:normal">weekly</p> 
                                        </th>
                                        <th width=15% valign="top" bgcolor="#e7e7e7">
                                            <canvas id="roundchart10" ></canvas>
                                            <p style="font-weight:normal">daily</p>
                                        </th>
                                        <th width=25% bgcolor="#f3f3f3">
                                            <canvas id="roundchart3" ></canvas>
                                            <p style="font-weight:normal">weekly</p>
                                        </th>
                                        <th width=15% valign="top" bgcolor="#f3f3f3">
                                            <canvas id="roundchart13" ></canvas>
                                            <p style="font-weight:normal">daily</p>
                                        </th>
                                        <th width=25% bgcolor="#e7e7e7">
                                            <canvas id="roundchart4" ></canvas>
                                            <p style="font-weight:normal">weekly</p>
                                        </th>
                                        <th width=15% valign="top" bgcolor="#e7e7e7">
                                            <canvas id="roundchart14" ></canvas>
                                            <p style="font-weight:normal">daily</p>
                                        </th>
                                    </tr>
                                </table>

                                <table style="table-layout: fixed;width:100%; overflow:visible">
                                    <tr>
                                        <th bgcolor="#e7e7e7"> <span id="humFF" style="font-size: 30px"></span>%rh</th>
                                        <th bgcolor="#f3f3f3"> <span id="humFM" style="font-size: 30px"></span>%rh</th>
                                        <th bgcolor="#e7e7e7"> <span id="humFB" style="font-size: 30px"></span>%rh</th>
                                        <th bgcolor="#f3f3f3"> <span id="humPR" style="font-size: 30px"></span>%rh</th>
                                        <th bgcolor="#e7e7e7"> <span id="humRD" style="font-size: 30px"></span>%rh</th>
                                    </tr>
                                </table>

                                <table style="table-layout: fixed;width:100%; overflow:visible">
                                    <tr >
                                        <th width=25% bgcolor="#e7e7e7">
                                            <canvas id="roundchart6" ></canvas>
                                            <p style="font-weight:normal">weekly</p>
                                        </th>
                                        <th width=15% valign="top" bgcolor="#e7e7e7">
                                            <canvas id="roundchart16" ></canvas>
                                            <p style="font-weight:normal">daily</p>
                                        </th>
                                        <th width=25% bgcolor="#f3f3f3">
                                            <canvas id="roundchart7" ></canvas>
                                            <p style="font-weight:normal">weekly</p>
                                        </th>
                                        <th width=15% valign="top" bgcolor="#f3f3f3">
                                            <canvas id="roundchart17"></canvas>
                                            <p style="font-weight:normal">daily</p>
                                        </th>
                                        <th width=25% bgcolor="#e7e7e7"> 
                                            <canvas id="roundchart5" ></canvas>
                                            <p style="font-weight:normal">weekly</p>
                                        </th>
                                        <th width=15% valign="top" bgcolor="#e7e7e7">
                                            <canvas id="roundchart15" ></canvas>
                                            <p style="font-weight:normal">daily</p>
                                        </th>
                                        <th width=25% bgcolor="#f3f3f3">
                                            <canvas id="roundchart8" ></canvas>
                                            <p style="font-weight:normal">weekly</p>
                                        </th>
                                        <th width=15% valign="top" bgcolor="#f3f3f3">
                                            <canvas id="roundchart18" ></canvas>
                                            <p style="font-weight:normal">daily</p>
                                        </th>
                                        <th width=25% bgcolor="#e7e7e7">
                                            <canvas id="roundchart9" ></canvas>
                                            <p style="font-weight:normal">weekly</p>
                                        </th>
                                        <th width=15% valign="top" bgcolor="#e7e7e7">
                                            <canvas id="roundchart19" ></canvas>
                                            <p style="font-weight:normal">daily</p>
                                        </th>
                                    </tr>

                                </table>
                                <table>
                                    <tr >
                                        
                                        <div>
                                            Temperature: 
                                            <span style= "color: rgb(39, 39, 97); font-size: 20px" >&#9632; </span> freeze 
                                            <span style= "color: rgb(6, 163, 85); font-size: 20px" >&#9632; </span> cold
                                            <span style= "color: rgb(124, 236, 79); font-size: 20px" >&#9632; </span> warm
                                            <span style= "color: rgb(207, 0, 52); font-size: 20px" >&#9632; </span> hot
                                        </div>
                                        <div>
                                            Humidity: 
                                            <span style= "color: rgb(39, 39, 97); font-size: 20px" >&#9632; </span> dry 
                                            <span style= "color: rgb(16, 72, 155); font-size: 20px" >&#9632; </span> comfort
                                            <span style= "color: rgb(81, 163, 230); font-size: 20px" >&#9632; </span> humid
                                            <span style= "color: rgb(134, 217, 255); font-size: 20px" >&#9632; </span> moist
                                        </div>
                                        
                                    </tr>
                                </table>
                                      
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>

        
    </div>
    <br />

    <br />
    <div class  ="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel tile fixed_height_640 overflow_hidden">
                <div class="x_title">
                    <h2>Vertical Stratification  <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <!--<span id="zensie_sensor_names"></span>-->
                    <!-- <p> Vertical Stratification </p> -->
                    <canvas id="stackedbarchart20"></canvas>
                </div>

            </div>
        </div>

        <!--warnings feed-->
        <div class="col-md-6 col-sm-6 col-xs-14">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Alerts <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
                        <ul class="list-unstyled timeline widget">
                            <li>
                                <div class="block">
                                    <div class="block_content">
                                        <h2 class="title">
                                            <a>Sensor in R&D not producing any data</a>
                                        </h2>
                                        <div class="byline">
                                            <span>1 hours ago</span> by <a>Zenzie</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            
                            <li>
                                <div class="block">
                                    <div class="block_content">
                                        <h2 class="title">
                                            <a>High Humidity Back of Farm</a>
                                        </h2>
                                        <div class="byline">
                                            <span>8 hours ago</span> by <a>Zenzie</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="block">
                                    <div class="block_content">
                                        <h2 class="title">
                                            <a>High Temperature in MidFarm</a>
                                        </h2>
                                        <div class="byline">
                                            <span>13 hours ago</span> by <a>Zenzie</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <br />

    <br />



</div>

{% endblock content %}

{% block javascripts %}
{{ super()}}
<!-- Chart.js -->
<script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
<!-- gauge.js -->
<script src="{{ url_for('static', filename='vendors/gauge.js/dist/gauge.min.js') }}"></script>
<!-- Skycons -->
<script src="{{ url_for('static', filename='vendors/skycons/skycons.js') }}"></script>
<!-- Flot -->
<script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.pie.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.time.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.stack.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.resize.js') }}"></script>
<!-- Flot plugins -->
<script src="{{ url_for('static', filename='vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/flot.curvedlines/curvedLines.js') }}"></script>
<!-- DateJS -->
<script src="{{ url_for('static', filename='vendors/DateJS/build/date.js') }}"></script>
<!-- JQVMap -->
<script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>

<!-- 3D models -->
<script src="{{ url_for('static', filename='structures/CROP_unity_js/TemplateData/UnityProgress.js') }}"></script>
<script src="{{ url_for('static', filename='structures/CROP_unity_js/Build/UnityLoader.js') }}"></script>
<script>
    var unityInstance = UnityLoader.instantiate("unityContainer", "{{ url_for('static', filename='structures/CROP_unity_js/Build/CROP_unity_js.json') }}", { onProgress: UnityProgress });
</script>


<link href="{{ url_for('static', filename='structures/CROP_unity_js/Build/CROP_unity_js.json') }}" rel="stylesheet">

<script type="module">
    const colors = {
        darkblue: "rgba(63,103,126,1)", 
        blue_l: "rgba(27,196,121,1)", 
        tirquaze: "rgba(137,214,11,1)", 
        red_d: "rgba(207,19,10,1)",
        bertaBlue: "#4BDAFF",
        black: "#000000",
        bloodBurst: "#FF4B4B",
        bloodOrgan: "#630E10",
        blueSparkle: "#0076FF",
        chickenComb: "#DE2525",
        deepLilac: "#9B59B6",
        heartBeat: "#AA0000",
        mango: "#FFA628",
        nero: "#262626",
        palePurple: "#B089D5",
        schoolBusYellow: "#ffd800",
    };
    export default colors;
</script>


<script>


    //Imports from backend
    var temperature_json = JSON.parse('{{temperature_data | safe}}');
    var humidity_json = JSON.parse('{{humidity_data | safe}}');
    var temperature_json_daily = JSON.parse('{{temperature_data_daily | safe}}');
    var humidity_json_daily = JSON.parse('{{humidity_data_daily | safe}}');
    var vertical_stratification_json = JSON.parse('{{vertical_stratification | safe}}');
    var hourly_data_json = JSON.parse('{{hourly_data | safe}}');
    console.log (hourly_data_json)
    
    //get hourly values


    //var json_obj = JSON.parse('{{json_values | safe}}');

    //console.warn(temperature_data[0]["Values"][0]["bin"]);
    function check_data(data) {
        if (Object.keys(data).length === 0 && data.constructor === Object) {
            console.warn("dataset is empty")
        }
        else console.log("its good data", data)
    }

    function set_hourly_values (hourly_data_json) {
        var tempFF = hourly_data_json[1]["temperature"]
        document.getElementById("tempFF").innerHTML = tempFF;
        var tempFM = hourly_data_json[2]["temperature"]
        document.getElementById("tempFM").innerHTML = tempFM;
        var tempFB = hourly_data_json[0]["temperature"]
        document.getElementById("tempFB").innerHTML = tempFB;
        var tempPR = hourly_data_json[3]["temperature"]
        document.getElementById("tempPR").innerHTML = tempPR;
        var tempRD = hourly_data_json[4]["temperature"]
        document.getElementById("tempRD").innerHTML = tempRD;

        var humFF = hourly_data_json[1]["humidity"]
        document.getElementById("humFF").innerHTML = humFF;
        var humFM = hourly_data_json[2]["humidity"]
        document.getElementById("humFM").innerHTML = humFM;
        var humFB = hourly_data_json[0]["humidity"]
        document.getElementById("humFB").innerHTML = humFB;
        var humPR = hourly_data_json[3]["humidity"]
        document.getElementById("humPR").innerHTML = humPR;
        var humRD = hourly_data_json[4]["humidity"]
        document.getElementById("humRD").innerHTML = humRD;
    }

    function time_series_charts(json_data, canvasname) {
        values_top = []
        values_bot = []
        dates = []
        for (j = 0; j < json_data[0]["Values"].length; j++) {
            values_top.push(parseFloat(json_data[0]["Values"][j]["temperature"]))
            values_bot.push(parseFloat(json_data[1]["Values"][j]["temperature"]))
            dates.push(json_data[0]["Values"][j]["timestamp"])
        }

        const data = {
            labels: dates,
            datasets: [
                {
                    label: 'Top',
                    data: values_top,
                    borderColor: "#ff0000",
                    pointRadius:1,
                    borderWidth: 1
                },
                {
                    label: 'Bottom',
                    data: values_bot,
                    borderColor: "#3399ff",
                    pointRadius:1,
                    borderWidth:1
                }
            ]
        };
        const config = {
            type: 'line',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Vertical Stratification'
                    }
                }
            },
        };
        var ctx = document.getElementById(canvasname);
        var myChart = new Chart(ctx, config);
    }



    function roundcharts (json_data, zoneid, canvasname, colouramp) 
    {
        console.log (json_data[zoneid])

        bin_ = []
        cnt_ = []
        for (j = 0; j < json_data[zoneid]["Values"].length; j++) {
            bin_.push(json_data[zoneid]["Values"][j]["bin"])
            cnt_.push(parseFloat(json_data[zoneid]["Values"][j]["cnt"]))
        }

        const data_ = [];
        data_.push({
            label:  [json_data[zoneid]["zone"]],
            data: cnt_, 
            backgroundColor: colouramp
        })
        //title: [json_data[zoneid]["zone"]],

        const data = {
            labels: bin_,
            datasets: data_
        };

        const config = {
            type: 'doughnut',
            data: data,
            options:
            {
                legend: {
                    display: false
                },
                aspectRatio: 1.5,
            }
        };
        //roundchart0
        var ctx = document.getElementById(canvasname);
        var myChart = new Chart(ctx, config);
    }

    function horizontal_charts(json_data, zoneid, canvasname, colouramp) {
        
        //iterates through zones (5)
        bin_ = []
        cnt_ = []
        for (j = 0; j < json_data[zoneid]["Values"].length; j++) {
            bin_.push(json_data[zoneid]["Values"][j]["bin"])
            cnt_.push(parseFloat(json_data[zoneid]["Values"][j]["cnt"]))
        }

        const datasets_ = [];
        for (i = 0; i < bin_.length; i++) {
            datasets_.push({
                label: bin_[i],
                data: [cnt_[i]],
                backgroundColor: colouramp[i],
            })
        }

        const data = {
            labels: [json_data[zoneid]["zone"]],
            datasets: datasets_
        };

        const config = {
            type: 'horizontalBar',
            data: data,
            options:
            {

                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        stacked: true,
                        display: false, //this will remove all the x-axis grid lines
                    }],
                    yAxes: [{
                        stacked: true,
                        //display: true,
                        position: 'right',
                    }]
                },
                aspectRatio: 6.5,
                tooltips: {
                    
                    callbacks: {
                        position: 'average',
                        title: function (tooltipItems, data) {
                            return '';
                        },
                    }
                }
            }
        };

        //var ctx = document.getElementById('stackedbarchart'.concat(0));
        var ctx = document.getElementById(canvasname);
        var myChart = new Chart(ctx, config);

    }

    function create_charts(temperature_data, temperature_data_daily, humidity_data, humidity_data_daily, vertical_stratification) {
        
        set_hourly_values (hourly_data_json)

        var colouramp_redblue = ["rgba(63,103,126,1)", "rgba(27,196,121,1)", "rgba(137,214,11,1)", "rgba(207,19,10,1)"]; //blue to red
        var colouramp_blue = ["rgba(27,55,74,1)", "rgba(0,96,196,1)", "rgba(0,129,196,1)", "rgba(141,245,252,1)"];

        
        //main farm
        //round charts ("roundchart0")
        var zone0_name = temperature_data[0]["zone"]
        document.getElementById("zone0_name").innerHTML = zone0_name;
        roundcharts (temperature_data, 0, "roundchart0", colouramp_redblue) 
        
        var zone1_name = temperature_data[1]["zone"]
        document.getElementById("zone1_name").innerHTML = zone1_name;
        roundcharts (temperature_data, 1, "roundchart1", colouramp_redblue) 
        
        var zone2_name = temperature_data[2]["zone"]
        document.getElementById("zone2_name").innerHTML = zone2_name;
        roundcharts (temperature_data, 2, "roundchart2", colouramp_redblue)
        //roundcharts (temperature_data, 3, "roundchart3", colouramp_redblue)


        roundcharts (temperature_data_daily, 0, "roundchart10",colouramp_redblue)
        roundcharts (temperature_data_daily, 1, "roundchart11",colouramp_redblue)
        roundcharts (temperature_data_daily, 2, "roundchart12",colouramp_redblue)

        roundcharts(humidity_data, 0, "roundchart5",colouramp_blue);
        roundcharts(humidity_data, 1, "roundchart6",colouramp_blue);
        roundcharts(humidity_data, 2, "roundchart7",colouramp_blue);

        roundcharts(humidity_data_daily, 0, "roundchart15",colouramp_blue)
        roundcharts(humidity_data_daily, 1, "roundchart16",colouramp_blue)
        roundcharts(humidity_data_daily, 2, "roundchart17",colouramp_blue)


        //vertical stratification
        time_series_charts(vertical_stratification, "stackedbarchart20");


        //Propagation
        var zone3_name = temperature_data[3]["zone"]
        document.getElementById("zone3_name").innerHTML = zone3_name;
        roundcharts (temperature_data, 3, "roundchart3", colouramp_redblue) 
        roundcharts (temperature_data_daily, 3, "roundchart13",colouramp_redblue)

        roundcharts(humidity_data, 3, "roundchart8",colouramp_blue);
        roundcharts(humidity_data_daily, 3, "roundchart18",colouramp_blue)

        //R&D
        var zone4_name = temperature_data[4]["zone"]
        document.getElementById("zone4_name").innerHTML = zone4_name;
        roundcharts (temperature_data, 4, "roundchart4", colouramp_redblue) 
        roundcharts (temperature_data_daily, 4, "roundchart14",colouramp_redblue)

        roundcharts(humidity_data, 4, "roundchart9",colouramp_blue);
        roundcharts(humidity_data_daily, 4, "roundchart19",colouramp_blue)


    }

    check_data(temperature_json);
    check_data(temperature_json_daily);
    check_data(humidity_json);
    check_data(vertical_stratification_json);

    create_charts(temperature_json, temperature_json_daily, humidity_json, humidity_json_daily, vertical_stratification_json);





    // iterate locations
    // for (i = 0; i < zensie_temp_data.length; i++) {

    //     sensor_temp_data = zensie_temp_data[i];
    //     temp_cnts = [];

    //     // // iterate temperature bins
    //     for (j = 0; j < sensor_temp_data.length; j++) {

    //         //console.warn(sensor_temp_data[j])

    //         temp_range_data = sensor_temp_data[j][1];

    //         temp_cnts.push(temp_range_data[0].temp_cnt);
    //     }
    //     cnts.push(temp_cnts)
    // }

    // const transpose = (cnts) => {
    //     let [row] = cnts
    //     return row.map((value, column) => cnts.map(row => row[column]))
    // }

    // const dataset_matrix = transpose(cnts);

    // TEMP_BINS = [0.0, 17.0, 21.0, 24.0, 30.0]

    // const datasets_ = [];
    // for (i = 0; i < dataset_matrix.length; i++) {
    //     datasets_.push({
    //         label: TEMP_BINS[i],
    //         data: dataset_matrix[i],
    //         backgroundColor: colouramp[i],
    //     })
    // }


    // const data = {
    //     labels: sensor_locations,
    //     datasets: datasets_
    // };

    // console.warn(data)
    // const config = {
    //     type: 'horizontalBar',
    //     data: data,
    //     //options: barOptions_stacked,
    //     options:
    //     {
    //         scales: {
    //             xAxes: [{ stacked: true }],
    //             yAxes: [{ stacked: true }]
    //         }
    //     }
    // };
    // var myChart = new Chart(ctx, config);

</script>


<!--

<script>

    //var zensie_sensor_names = '{{ zensie_sensors }}';
    // <block:setup:1>
    var ctx = document.getElementById('stackedbarchart');

    const labels = ["2014", "2013", "2012", "2011", "2010"];
    const data = {
        labels: labels,
        datasets: [
            {
                label: 'Low',
                data: [227, 589, 537, 543, 574],
                backgroundColor: "rgba(63,103,126,1)",
                //backgroundColor: '#D6E9C6' // green
            },
            {
                label: 'Moderate',
                data: [1238, 553, 746, 884, 903],
                backgroundColor: "rgba(63,203,226,1)",
                //backgroundColor: '#FAEBCC' // yellow
            },
            {
                label: 'High',
                data: [238, 553, 746, 884, 903],
                backgroundColor: "rgba(180,60,60,1)",
                //backgroundColor: '#EBCCD1' // red
            }
        ]
    };
    // </block:setup>

    // <block:config:0>
    const config = {
        type: 'horizontalBar',
        data: data,
        //options: barOptions_stacked,
        options:
        {
            scales: {
                xAxes: [{ stacked: true }],
                yAxes: [{ stacked: true }]
            }
        }
    };

    var myChart = new Chart(ctx, config);
</script> -->


{% endblock javascripts %}