{% extends "base_site.html" %}

{% block title %} Aranet T&RH Sensors Analysis Dashboard {% endblock title %}

{% block stylesheets %}
{{ super() }}
<link href="{{ url_for('static', filename='node_modules/datatables.net-bs/css/dataTables.bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='node_modules/datatables.net-buttons-bs/css/buttons.bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='node_modules/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='node_modules/datatables.net-responsive-bs/css/responsive.bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='node_modules/datatables.net-scroller-bs/css/scroller.bootstrap.css') }}" rel="stylesheet">
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<style>
.plotDiv {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
</style>
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
  <div class="">

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="row x_title">
              <div class="col-md-6">
                <h2>Aranet T&RH Sensors Temperature Range Counts</h2>
              </div>
              <!--
                TODO Make this dropdown menu for choosing the date range actually do
                something
              <div class="col-md-6">
                <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                  <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                  <span></span>
                  <b class="caret"></b>
                </div>
              </div>
              --!>
            </div>
          </div>

          <!--
          Sensor IDs:
          21: 1B2
          18: 16B1
          27: 16B2
          23: 16B4
          22: 29B2
          20: Propagation #1
          19: Tunnel 7
          24: R&D 1
          25: R&D 2
          48: Propagation #2
          49: R&D 4
          --!>
          {% for row_group in [[21], [18, 27, 23], [22], [19], [20, 48], [24, 25, 49]] %}
          <div class="row">
            {% for id in row_group %}
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="x_panel tile fixed_height_320 overflow_hidden">
              <div class="plotDiv" id="plotDiv{{ id }}"></div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}

  <!-- Datatables -->
  <script src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-bs/js/dataTables.bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/dataTables.buttons.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-buttons-bs/js/buttons.bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.flash.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.html5.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.print.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-fixedheader/js/dataTables.fixedHeader.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-keytable/js/dataTables.keyTable.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-responsive/js/dataTables.responsive.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/datatables.net-scroller/js/dataTables.scroller.js') }}"></script>

<script>
    $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
        var request_url = "/dashboards/aranet_trh_dashboard?range=" + picker.startDate.format('YYYYMMDD') + "-" + picker.endDate.format('YYYYMMDD')
        location.replace(request_url)
    });

    $(window).load(function() {
        $('#reportrange span').html("{{ dt_from }}" + ' - ' + "{{ dt_to }}");
    });
</script>

<script>
  // TODO Make this and the same in home.js be read from a common source.
  const colouramp_redblue = [
    "rgba(63,103,126,1)",
    "rgba(27,196,121,1)",
    "rgba(137,214,11,1)",
    "rgba(207,19,10,1)",
  ];
  const aranet_temp_data = JSON.parse('{{temperature_bins_json | safe}}');
  for (const sensor_id in aranet_temp_data) {
      const data = aranet_temp_data[sensor_id]
      const plot_data = [];
      for (let j = 0; j < data["bins"].length; j++) {
          plot_data.push({
              name: data["bins"][j],
              x: data["data"][j]["date"],
              y: data["data"][j]["count"],
              type: 'bar',
              marker: {
                  color: colouramp_redblue[j],
                },
            })
        }

      const layout = {
          title: {
              text: `Temperature of sensor ${data["name"]}`,
              font: {
                  size: 14,
                },
            },
          margin: {
              r: 50,
              l: 50,
              t: 50,
              b: 50,
            },
          barmode: 'stack',
          xaxis: {
              title: "Date",
              titlefont: {
                  size: 14,
                }
            },
          yaxis: {
              title: "Count",
              titlefont: {
                  size: 14,
                }
            }
        };

      Plotly.newPlot('plotDiv'+ sensor_id.toString(), plot_data, layout);
    }
</script>


{% endblock javascripts %}
