{% extends "base_site.html" %}

{% block title %} Energy Usage Analysis Dashboard II - Mel copy {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
                <div class="row x_title">
                    <div class="col-md-6">
                        <h2>Comparing energy and temperature usage</h2>
                    </div>
                    <div class="col-md-6">
                        <div id="reportrange" class="pull-right" style="background: rgb(255, 255, 255); cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span></span> 
                            <b class="caret"></b>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h3>Lights <small>(Energy use from Carpenter's Place)</small></h3> 
                        </div>
                        <div class="x_content">
                            <div id="plotLightsOnDiv"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h3>Ventilation <small>(Energy use from Clapham Common)</small></h3> 
                        </div>
                        <div class="x_content">
                            <div id="plotVentilationDiv"></div>
                        </div>
                    </div>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}

  <!-- Datatables -->
  <script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jszip/dist/jszip.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/pdfmake/build/pdfmake.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/pdfmake/build/vfs_fonts.js') }}"></script>

<script>
    $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
        var request_url = "/dashboards/expansion_dashboard?range=" + picker.startDate.format('YYYYMMDD') + "-" + picker.endDate.format('YYYYMMDD')
        location.replace(request_url)
    });

    $(window).load(function() {
        $('#reportrange span').html("{{ dt_from }}" + ' - ' + "{{ dt_to }}");
    });
</script>

<script>
    var data;
    var dates;
    var energy_data = JSON.parse('{{energy_data.data | safe}}');

    // Lights-on plot
    var lights_data = energy_data[0];
    
    data = [];
    dates = [];
    var lights_means = [];

    for(x in lights_data) {
        dates.push(lights_data[x].date);
        lights_means.push(lights_data[x].mean_lights_on);
    }

    data.push({
        x: dates,
        y: lights_means,
        type: 'bar',
    })

    title_date_str = 'during the '.concat(lights_data[0].date).concat(' - ').concat(lights_data[lights_data.length-1].date).concat(' period');

    layout = {
        title: 'Number of hours lights were on '.concat(title_date_str),
        barmode: 'stack',
        xaxis: {
            title: "Date",
            titlefont: {
                size: 22,
            }
        },
        yaxis: {
            title: "Hours lights on",
            titlefont: {
                size: 22,
            }
        },
        shapes: [
            {
                type: 'line',
                xref: 'paper',
                x0: 0,
                y0: 18.0,
                x1: 1,
                y1: 18.0,
                line:{
                    color: 'rgb(255, 0, 0)',
                    width: 4,
                    dash:'dot'
                }
            }
        ]
    };

    Plotly.newPlot('plotLightsOnDiv', data, layout);

    // Ventilation plot
    data = [];
    var ventilation_data = energy_data[1];

    dates = [];
    var ach = [];

    for(x in ventilation_data) {
        dates.push(ventilation_data[x].timestamp);
        ach.push(ventilation_data[x].ach);
    }

    data.push({
        x: dates,
        y: ach,
        type: 'bar',
    })

    layout = {
        title: 'Air change per hour '.concat(title_date_str),
        barmode: 'stack',
        xaxis: {
            title: "Date",
            titlefont: {
                size: 22,
            }
        },
        yaxis: {
            title: "ACH (air change per hour)",
            titlefont: {
                size: 22,
            }
        }
    };

    Plotly.newPlot('plotVentilationDiv', data, layout);

</script>


{% endblock javascripts %}
