{% extends "base_site.html" %}

{% block title %} Timeseries Dashboard {% endblock title %}

{% block stylesheets %}
{{ super() }}
<link href="{{ url_for('static', filename='node_modules/datatables.net-bs/css/dataTables.bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='node_modules/datatables.net-buttons-bs/css/buttons.bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='node_modules/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='node_modules/datatables.net-responsive-bs/css/responsive.bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='node_modules/datatables.net-scroller-bs/css/scroller.bootstrap.css') }}" rel="stylesheet">
<style>
.plotDiv {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
</style>
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="row x_title">
              <div class="col-sm-12">
                <h3>Choose sensors and time period</h3>
                <form>
                  <div>

                    <div>
                      Sensor class
                      <select
                          id="sensorTypeSelector"
                          class="selectpicker"
                          name="sensorTypeSelector"
                          onchange="changeSensorType()">
                        {% for s in sensor_types %}
                        <option
                            value={{ s.id }}
                            {% if sensor_type and s.id == sensor_type %} selected {% endif %}
                            >
                            {{s.sensor_type}}
                        </option>
                        {% endfor %}
                      </select>
                    </div>

                    <div>
                      Time period
                      <div id="reportrange" style="width: fit-content; background: #fff; cursor: pointer; margin-top: 5px; padding: 5px 10px; border: 1px solid #ccc">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span></span>
                        <b class="caret"></b>
                      </div>
                    </div>

                    <div>
                      Choose sensor(s)
                      <div id="sensorCheckboxesDiv">
                        {% for s in all_sensors %}
                        <div class="checkbox-inline" id="sensorCheckbox{{s.id}}">
                          <input
                              class="form-check-input"
                              type="checkbox"
                              id="sensor_checkbox_{{s.id}}"
                              {% if sensor_ids and s.id in sensor_ids %} checked {% endif %}
                              value={{s.id}}>
                          <label
                              class="form-check-label"
                              for="sensor_checkbox_{{s.id}}">
                            {{s.id}}: {{s.name}}
                          </label>
                        </div>
                        {% endfor %}
                      </div>
                    </div>

                  </div>
                  <button style="margin-top: 5px" type="button" onclick="requestTimeSeries(false)">Plot</button>
                  <button style="margin-top: 5px" type="button" onclick="requestTimeSeries(true)">Download</button>
                </form>
              </div>
            </div>
          </div>

          {% if data %}
          <div class="row">
            {% for dc in data_columns %}
            <div class="col-lg-6 col-md-9 col-sm-15">
              <div class="x_panel tile fixed_height_640 overflow_hidden">
                <div class="plotDiv" id="{{dc.column_name}}Plot">
                  <canvas id="{{dc.column_name}}Canvas"></canvas>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endif %}

          {%
          for sensorId in data:
          %}
          <div style="margin-top: 3em" class="row x_content">
            <div class="col-lg-12">
              <h4>Data for sensor {{sensorId}}</h4>
              <h5>Summary statistics</h5>
              <div id="summary-div-{{sensorId}}" class="data-summary"></div>
              <table id="summary-table-{{sensorId}}" class="table table-sm nowrap" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th></th>
                    <th>Number of values</th>
                    <th>Average</th>
                    <th>Standard deviation</th>
                    <th>Min</th>
                    <th>25th percentile</th>
                    <th>50th percentile</th>
                    <th>75th percentile</th>
                    <th>Max</th>
                  </tr>
                </thead>
                <tbody>

                  {% for dc in data_columns %}
                  <tr>
                    <td>{{dc.ui_name}}</td>
                    <td>{{ summaries[sensorId][dc.column_name].count }}</td>
                    <td>{{ summaries[sensorId][dc.column_name].mean }}</td>
                    <td>{{ summaries[sensorId][dc.column_name].std }}</td>
                    <td>{{ summaries[sensorId][dc.column_name].min }}</td>
                    <td>{{ summaries[sensorId][dc.column_name]["25%"] }}</td>
                    <td>{{ summaries[sensorId][dc.column_name]["50%"] }}</td>
                    <td>{{ summaries[sensorId][dc.column_name]["75%"] }}</td>
                    <td>{{ summaries[sensorId][dc.column_name].max }}</td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>

              <h5>Raw data</h5>
              <div class="table-responsive">
                <table id="datatable-responsive-{{sensorId}}" class="table table-sm table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Timestamp</th>
                      {% for dc in data_columns %}
                      <th>{{dc.ui_name}}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>

                    {%
                    for row in data[sensorId]:
                    %}
                    <tr>
                      <td>{{ row.timestamp }}</td>
                      {% for dc in data_columns %}
                      <td>{{ row[dc.column_name] }}</td>
                      {% endfor %}
                    </tr>
                    {%
                    endfor
                    %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {%
          endfor
          %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ super() }}

<!-- Datatables -->
<script src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/datatables.net-bs/js/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/dataTables.buttons.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/datatables.net-buttons-bs/js/buttons.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.flash.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.html5.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.print.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/datatables.net-fixedheader/js/dataTables.fixedHeader.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/datatables.net-keytable/js/dataTables.keyTable.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/datatables.net-responsive/js/dataTables.responsive.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/datatables.net-scroller/js/dataTables.scroller.js') }}"></script>
<!-- Utility functions -->
<script src="{{ url_for('static', filename='javascript/utility.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/timeseries_dashboard.js') }}"></script>
<!-- Chart.js -->
<script src="{{ url_for('static', filename='node_modules/chart.js/dist/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/moment/moment.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/chartjs-adapter-moment/dist/chartjs-adapter-moment.min.js') }}"></script>

<script>
  const dateFormatIn = "YYYY-MM-DD hh:mm:ss"
  const dtFrom = moment("{{ dt_from }}", dateFormatIn)
  const dtTo = moment("{{ dt_to }}", dateFormatIn)
  const dateFormatOut = "MMM DD, YYYY"
  $(window).load(function () {
      $("#reportrange span").html(dtFrom.format(dateFormatOut) + " - " + dtTo.format(dateFormatOut));
    });
  setDateRange(dtFrom, dtTo)

  const data = {{data | safe}};
  Object.keys(data).forEach((sensorId) => {
      // Skip the case that isn't an actual sensor, but the mean of sensors.
      $(`#datatable-responsive-${sensorId}`).DataTable( {
          responsive: true
        });
    });
</script>

<script>
  {% for dc in data_columns %}
  makePlot(data, "{{dc.column_name}}", "{{dc.ui_name}}",
      "{{dc.column_name}}Canvas");
  {% endfor %}
</script>

{% endblock javascripts %}
