{% extends "base_site.html" %}

{% block title %} SENSOR FORM {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>{{ action }} sensor</h3>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">

            <div class="x_content">
              <br />
              <form id="sensor-form" data-parsley-validate class="form-horizontal form-label-left" method="POST">
                
                <!-- hidden -->
                <div class="form-group">
                    <input type="hidden" id="sensor_action" name="sensor_action" value="{{ action }}">
                    <input type="hidden" id="sensor_id" name="sensor_id" value="{{ sensor_id }}">
                </div>
                <!-- /hidden -->

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sensor_device_id">Device ID<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="sensor_device_id" name="sensor_device_id" required="required" class="form-control col-md-7 col-xs-12" value="{{ sensor.sensors_device_id }}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sensor_type">Sensor Type<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="sensor_type" name="sensor_type" required="required" class="form-control col-md-7 col-xs-12" value="{{ sensor.sensor_types_sensor_type }}">
                    </div>
                </div>

                <br />
                <h3 id="header">Locations</h3>
                <br />

                <div class="x_content">

                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                        <th>Installation Date</th>
                        <th>Location ID</th>
                        <th>Zone</th>
                        <th>Aisle</th>
                        <th>Column</th>
                        <th>Shelf</th>

                        <!-- <th class="column-title no-link last"><span class="nobr">Action</span> -->
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for t_sensor_loc in sensor_locations %}
                        <tr class='clickable-row' method = POST>
                            <td>{{ t_sensor_loc.sensor_location_installation_date }}</td>
                            <td>{{ t_sensor_loc.sensor_location_location_id }}</td>
                            <td>{{ t_sensor_loc.locations_zone }}</td>
                            <td>{{ t_sensor_loc.locations_aisle }}</td>
                            <td>{{ t_sensor_loc.locations_column }}</td>
                            <td>{{ t_sensor_loc.locations_shelf }}</td>
                            <!-- <td class=" last"><a href="/sensors/sensor_formxxx?query={{ t_sensor_loc.sensor_location_id }}">Edit</a>  -->
                        </tr>
                        {% endfor %}
                    </tbody>
    
                    </table>
                </div>


              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- Parsley -->
  <script src="{{ url_for('static', filename='vendors/parsleyjs/dist/parsley.min.js') }}"></script>
{% endblock javascripts %}
