{% extends "base_site.html" %}

{% block head %}
{{ super() }}
<style>
.conditionPlotPlaceholder {
  border: 1px solid;
  padding: 40px;
  margin: 30px;
  text-align: center;
  font-size: 1.2em;
}

.conditionPlotCanvas {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.2em;
}
</style>
{% endblock head %}

{% block title %} CROP BATCH DETAILS {% endblock title %}

{% block content %}
<div class="right_col" role="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <h3>Batch details</h3>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td class="text-alignright">Batch ID</td>
                    <td>{{ details.batch_id }}</td>
                  </tr>
                  <tr>
                    <td class="text-alignright">Last event</td>
                    <td>{{ details.last_event }}</td>
                  </tr>
                  <tr>
                    <td class="text-alignright">Crop type</td>
                    <td>{{ details.crop_type_name }}</td>
                  </tr>
                  <tr>
                    <td class="text-alignright">Tray size</td>
                    <td>{{ details.tray_size }}</td>
                  </tr>
                  <tr>
                    <td class="text-alignright">Trays</td>
                    <td>{{ details.number_of_trays }}</td>
                  </tr>
                  <tr>
                    <td class="text-alignright">Weigh time</td>
                    <td>
                      {{ details.weigh_time|format_datetime }}
                    </td>
                  </tr>
                  <tr>
                    <td class="text-alignright">Propagate time</td>
                    <td>
                      {{ details.propagate_time|format_datetime }}
                    </td>
                  </tr>
                  <tr>
                    <td class="text-alignright">Transfer time</td>
                    <td>
                      {{ details.transfer_time|format_datetime }}
                    </td>
                  </tr>
                  <tr>
                    <td class="text-alignright">Harvest time</td>
                    <td>
                      {{ details.harvest_time|format_datetime }}
                    </td>
                  </tr>
                  <tr>
                    <td class="text-alignright">Grow time</td>
                    <td>{{ details.grow_time }}</td>
                  </tr>
                  <tr>
                    <td class="text-alignright">Location</td>
                    <td>{{ details.location_summary }}</td>
                  </tr>
                  <tr>
                    <td class="text-alignright">Yield</td>
                    {% if details.crop_yield != None %}
                    <td>{{ '%0.1f'|format(details.crop_yield|float) }}</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td class="text-alignright">Yield per square metre</td>
                    {% if details.yield_per_sqm != None %}
                    <td>{{ '%0.1f'|format(details.yield_per_sqm|float) }}</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td class="text-alignright">Disease</td>
                    {% if details.waste_disease != None %}
                    <td>{{ '%0.1f'|format(details.waste_disease|float) }}</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td class="text-alignright">Defect</td>
                    {% if details.waste_defect != None %}
                    <td>{{ '%0.1f'|format(details.waste_defect|float) }}</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td class="text-alignright">Over-production</td>
                    {% if details.over_production != None %}
                    <td>{{ '%0.1f'|format(details.over_production|float) }}</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td class="text-alignright">Mean propagation temperature</td>
                    {% if details.avg_propagate_temperature != None %}
                    <td>{{ '%0.1f'|format(details.avg_propagate_temperature|float) }}°C</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td class="text-alignright">Mean propagation humidity</td>
                    {% if details.avg_propagate_humidity != None %}
                    <td>{{ '%0.1f'|format(details.avg_propagate_humidity|float) }}%</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td class="text-alignright">Mean propagation VPD</td>
                    {% if details.avg_propagate_vpd != None %}
                    <td>{{ '%0.0f'|format(details.avg_propagate_vpd|float) }} Pa</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td class="text-alignright">Closest farm sensor</td>
                    {% if details.closest_sensor_name != None %}
                    <td>{{ details.closest_sensor_name }}</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td class="text-alignright">Sensor location</td>
                    {% if details.sensor_location_summary != None %}
                    <td>{{ details.sensor_location_summary }}</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td class="text-alignright">Mean farm temperature</td>
                    {% if details.avg_grow_temperature != None %}
                    <td>{{ '%0.1f'|format(details.avg_grow_temperature|float) }}°C</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td class="text-alignright">Mean farm humidity</td>
                    {% if details.avg_grow_humidity != None %}
                    <td>{{ '%0.1f'|format(details.avg_grow_humidity|float) }}%</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td class="text-alignright">Mean farm VPD</td>
                    {% if details.avg_grow_vpd != None %}
                    <td>{{ '%0.0f'|format(details.avg_grow_vpd|float) }} Pa</td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
              <form method="post">
                <input
                    id="downloadTRHDataButton"
                    style="margin-top: 5px; display: none"
                    type="submit"
                    value="Download T&RH data"
                    name="download"
                    />
              </form>
              <div id="temperaturePlotPlaceholder" class="conditionPlotPlaceholder">
                Temperature plot will be displayed once the batch is transferred.
              </div>
              <div id="humidityPlotPlaceholder" class="conditionPlotPlaceholder">
                Humidity plot will be displayed once the batch is transferred.
              </div>
              <div id="vpdPlotPlaceholder" class="conditionPlotPlaceholder">
                VPD plot will be displayed once the batch is transferred.
              </div>
              <canvas id="temperatureCanvas" class="conditionPlotCanvas"></canvas>
              <canvas id="humidityCanvas" class="conditionPlotCanvas"></canvas>
              <canvas id="vpdCanvas" class="conditionPlotCanvas"></canvas>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ super()}}

<!-- Chart.js -->
<script src="{{ url_for('static', filename='node_modules/chart.js/dist/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/moment/moment.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/chartjs-adapter-moment/dist/chartjs-adapter-moment.min.js') }}"></script>

<script src="{{ url_for('static', filename='javascript/batch_details.js') }}"></script>

<script>
  const trh_data = JSON.parse('{{trh_json | safe}}');
  if (trh_data.length > 0) {
    makePlots(
      trh_data,
      "temperature",
      "temperatureCanvas",
      "Temperature",
      "green",
      "temperaturePlotPlaceholder",
    )
    makePlots(
      trh_data,
      "humidity",
      "humidityCanvas",
      "Humidity",
      "blue",
      "humidityPlotPlaceholder",
    )
    makePlots(
      trh_data,
      "vpd",
      "vpdCanvas",
      "VPD",
      "red",
      "vpdPlotPlaceholder",
    )
    const downloadButton = document.getElementById("downloadTRHDataButton");
    downloadButton.style.display = "block";
  }
</script>
{% endblock javascripts %}
