{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "jquery": true
  },
  "rules": {
    "require-jsdoc": 0,
    "no-unused-vars": 0,
    "no-undef": 0,
    "camelcase": 0
  },
  "extends": ["eslint:recommended", "google", "prettier"]
}
